<div class="card" [class.error]="$$isError()">
  <div class="title-container">
    <ng-icon [svg]="$$platformIcon()" />

    <div>
      <div class="title">{{monitor.name}} </div>
      <div class="sub-title">{{monitor.url}}</div>
    </div>
  </div>
  <div class="content-container">
    <div class="item">
      <div class="title">CPU <div class="sub-value">{{ monitor.last_data_on | date:'short' }}</div>
      </div>
      <div class="values">
        @if (monitor) {
        <div echarts [options]="gaugeChartOption" (chartInit)="onCPUChartInit($event)" class="cpu-chart"></div>
        }
      </div>
    </div>

    <div class="item">
      <div class="title">Memory <div class="sub-value">{{ monitor.last_data_on | date:'short' }}</div>
      </div>
      <div class="values">
        @if (monitor) {
        <div echarts [options]="gaugeChartOption" (chartInit)="onMemChartInit($event)" class="cpu-chart"></div>
        }

        <div class="value-container">
          <div class="value">
            <span class="used-memory">{{$$usedMemory()}}</span>/<span class="total-memory">{{$$totalMemory()}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uptime">
    <div class="value">Uptime</div>
    <div class="sub-value">{{$$uptime()}}</div>
  </div>

  <div class="os">
    <div class="value">OS</div>
    <div class="sub-value">{{$$os()}}</div>
  </div>

  <div class="kernel">
    <div class="value">Kernel</div>
    <div class="sub-value">{{$$kernel()}}</div>
  </div>

  <div class="status-container">
    <!-- <app-m-ar-progress [history_data]="monitor.history_data ?? []"></app-m-ar-progress> -->
  </div>
</div>