<div class="card" [class.error]="$$isError()">
  <div class="title-container">
    <!-- <fa-icon [icon]="faServer"></fa-icon> -->
     <ng-icon [svg]="getPlatformIcon(monitor.last_data?.os?.platform ?? '', monitor.last_data?.os?.type ?? '')" />

    <div>
      <div class="title">{{monitor.name}} </div>
      <div class="sub-title">{{monitor.url}}</div>
    </div>
  </div>
  <div class="content-container">
    <div class="item">
      <div class="title">CPU <div class="sub-value">{{ monitor.last_data_on | date:'short' }}</div>
      </div>
      <div class="values">
        @if (monitor) {
        <div echarts [options]="gaugeChartOption" (chartInit)="onCPUChartInit($event)" class="cpu-chart"></div>
        }
      </div>
    </div>

    <div class="item">
      <div class="title">Memory <div class="sub-value">{{ monitor.last_data_on | date:'short' }}</div>
      </div>
      <div class="values"
        [class.text-orange-500]="(monitor.last_data?.memory?.used_percent ?? 0) > 60 && (monitor.last_data?.memory?.used_percent ?? 0) < 90"
        [class.text-red-500]="(monitor.last_data?.memory?.used_percent ?? 0) > 90">
        @if (monitor) {
        <div echarts [options]="gaugeChartOption" (chartInit)="onMemChartInit($event)" class="cpu-chart"></div>
        }

        <div class="value-container">
          <div class="value">
            {{getNearestSize(monitor.last_data?.memory?.used ?? 0)}}/{{getNearestSize(monitor.last_data?.memory?.total
            ?? 0)}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="status-container">
    <!-- <app-m-ar-progress [history_data]="monitor.history_data ?? []"></app-m-ar-progress> -->
  </div>
</div>